@charset "utf-8";

*{margin: 0; box-sizing: border-box;}
::selection { background:#444; color: #fff }
ul, ol, li {list-style: none; padding: 0}
a {text-decoration: none; color:#000; }

button {width: 170px; background: #fff; cursor: pointer;text-transform: uppercase;padding: 15px; font-size: 12px; letter-spacing: 1px; border:none;}
button:hover {background: #333;}
button:hover a {color: #fff;}